@import "../node_modules/foundation-sites/dist/css/foundation.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";


h4{
    color:#fff;
    font-weight:bold;
    font-size:18px;
}
h6,hr{
    color:rgb(55,56,57);
    
}
.student{
    background-color: rgb(63,4,139);
    
}
.basic{
    background-color: rgb(97,57,59);
}
.sponsors{
    background-color: rgb(212,108,26);
}
.lifetime{
    background-color: rgb(90,159,157);
}
.main-content{
    opacity:0.9;
}

.membership-fee{
    font-size:35px;
}
.view-conference{
    margin-top:15px;
}
.yellow-text{
    color:rgb(212,108,26)
}
.data-dropdown-menu >li >aß{
    color:#fff;
}
.back-to-top{
    
    color:white;
    padding:15px;
    background-color:rgb(212,108,26) ;
}
#join-online{
    float:right;
}

.policy{
    float:left;
}
.card{
    p{

        color:#fff;
    }
}
header{
   
    background:url(../images/bg1.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-top: 20px;
    color:#fff; 
    padding-bottom: 60px;
}

.navigation {
    background:url(../images/bg1.png) no-repeat;
    background-size: cover;
    
     .dropdown {
        background:none;
    } 
}

#conference1 {
    text-align: center;
    background:url(../images/image1.jpeg) no-repeat;
    background-size: cover;
    height:400px;
    color:#fff ;
    margin-bottom:10px;
}
#content{
    text-align:left;
    margin-top:30%;
    margin-left:15px;

}
.btn-white{
    border-radius: 50px;
    background-color:#fff !important;
    color:#000;
    font-size:18px;
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
    padding-bottom: 15px;
}
a{
    text-decoration: none;
}
#joinNow{
    text-align: center;
    background-color: rgb(24,25,26);
    color:#fff;
}
#video-icon{
    font-size:40px;
}
#btn-join{
    border-radius: 50px;
    background-color: rgb(220,140,46);
    color:white;
    margin-bottom: 40px;
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
    padding-bottom: 15px;
}
#conference2 {
    text-align: center;
    background:url(../images/conference.jpeg) no-repeat;
    background-size: cover;
    overflow: hidden;
    height:400px;
    color:#fff;
    margin-bottom:10px;
 }
 .conference-heading{
     margin: 40px;
     font-size:14px;
     font-weight: 800;
     text-align: center;
    
 }
 .dot-active {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: rgb(220,140,46);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .carousel-dots{
    margin-bottom: 20px;
    margin-left: 50%;
  }
 .menu>li>a{
  color:white;
  background-color:transparent !important;
  font-weight: 800;

 }
 .fab{
     margin:5px;
     font-size:30px;
 }
 .bg-white{
     background:#fff;
 }
 .bg-black{
    background-color:#000;
 }
 .firstbar{
    background-color:rgb(0, 0,6);
 }
 
#footer{
    background-color:rgb(0, 0,6) ;
    width:100%;
  
   
}
